{% from "bootstrap5/utils.html" import render_messages %}
{%- extends "base.html" %}

{% block title %}{% include 'title.html' %}{%- endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {{ render_messages() }}
            </div>
        </div>
        <div class="bg-light mt-2 p-2">
            <h1 class="display-2">{% include 'title.html' %}</h1>
            <p>Use the navbar menu to navigate some of the functions</p>
        </div>
    </div>

{%- endblock %}
