{% from "bootstrap5/utils.html" import render_messages %}
{%- extends "page.html" %}


{% block title %}{% include 'title.html' %}{%- endblock %}
{% block page %}

{% for track in tracks %}
<div class="card m-1 ">
    <div class="row g-0">
        <div class="col-md-2"
              onclick="show_big('{{url_for('static', filename='img/track_previews')}}/{{track.preview}}',
                                   '{{url_for('static', filename='img/track_previews')}}/{{track.preview_elevation}}')"
                        class="">
            <img src="{{url_for('static', filename='img/track_previews')}}/{{track.preview|as_thumb}}" class="img-fluid" ></img>
            <img src="{{url_for('static', filename='img/track_previews')}}/{{track.preview_elevation|as_thumb}}" class="pt-1 img-fluid"></img>

        </div>
        <div class="col-md-10">
            <div class="card-body">
                <span class="track title">{{track.name}}</span>
                <div>
                    <span class="track data">Distance: {{track.length_3d|humandistance}} |
                                            Elevation: {{track.uphill_climb|humandistance}} |
                                            Duration: {{track.duration|strftimestamp('%H:%M:%S')}} |
                                            Quality: {{"%.2f"|format(track.quality)}} %
                    </span>
                    <span class="track data">Sport: {{track.kind}} |
                                            Equipment: {{track.equipment}} |
                                            Device: {{track.device}} |
                                            Created: {{track.stamp|strftimestamp}}
                    </span>
                </div>
                
                <span class="track score">Score: {{'%3.2f'|format(track.score|float)}}</span>

                <div>
                    <img" src="{{url_for('static', filename='img/icons/red-up-arrow-icon.png')}}" class="mx-auto track slope-image" >
                    <span class="track slope">
                        Avg slope: {{"%.2f"|format(track.uphill_avg_slope)}} % |
                        Distance: {{track.uphill_distance|humandistance}} ({{"%.2f"|format(track.uphill_p_distance)}} %) |
                        Elevation: {{track.uphill_elevation|humandistance}} 
                    </span><br>

                    <img src="{{url_for('static', filename='img/icons/green-down-arrow-icon.png')}}" class="mx-auto track slope-image" >
                    <span class="track slope">
                        Avg slope: {{"%.2f"|format(track.downhill_avg_slope)}} % |
                        Distance: {{track.downhill_distance|humandistance}} ({{"%.2f"|format(track.downhill_p_distance)}} %) |
                        Elevation: {{track.downhill_elevation|humandistance}} 
                    </span><br>
                    
                    <img src="{{url_for('static', filename='img/icons/blue-right-arrow-icon.png')}}" class="mx-auto track slope-image" >
                    <span class="track slope">
                        Avg slope: {{"%.2f"|format(track.level_avg_slope)}} % |
                        Distance: {{track.level_distance|humandistance}} ({{"%.2f"|format(track.level_p_distance)}} %) |
                        Elevation: {{track.level_elevation|humandistance}} 
                    </span>
                    </div>
                    
                    <div id="rateYo_{{track.id}}" class="track rating"></div></br>

            <p class="card-text">
                <span class="track length"></span>
                <a href="/tracks/show?id={{track.id}}" class="">3D view</a>
            </p>
            
            {% if track.similar|length >= 1 %}  
                <div>
                <h6>Similar tracks</h6>
                {% for similar in track.similar %}  
                        <li><a href="/tracks/show?id={{similar.id}}">{{similar.name}} ({{similar.id}})</a>
                {% endfor %}
                </div>
            {% endif %}

            
                
        
            </div>
        </div>
    </div>
</div>
<script>
    $("#rateYo_{{track.id}}").rateYo({starWidth: "18px",
                            //readOnly: true,
                            rating: {{track.rating}},
                            userData: {{track.id}}, 
                            fullStar: true,
                            onSet: function (rating, rateYoInstance) {
                                var id = rateYoInstance.option("userData");
                                UpdateTrackRating(id, rating);
                            }
                        });
</script>

{% endfor %}

<script>
function show_big(map_img, elev_img) {
    Swal.fire({
    title: '',
    width: '800px',
    html: `
    <div class="" role="alert">
        <div class="w-100">
            <img src="${map_img}" class="img-fluid w-100" ></img>
            <img src="${elev_img}" class="pt-1 img-fluid w-100" ></img>
        </div>
    </div>
    `,
    showCloseButton: false,
    confirmButtonText: 'Close',
    })
}
</script>

{%- endblock %}
