{% from "bootstrap5/utils.html" import render_messages %}
{%- extends "base.html" %}

{% block title %}{% include 'title.html' %}{%- endblock %}

{% block content %}
<h2>{{track.name}}</h2>
<div id="map"></div>
<script>

    const map = (window.map = new maplibregl.Map({
        container: 'map',
        zoom: 14,
        pitch: 45,
        bearing: 0,
        hash: true,
        style: 'https://api.maptiler.com/maps/hybrid/style.json?key={{TOKENS.MAPTILER_KEY}}',
        maxZoom: 18,
        maxPitch: 85,
        antialias: true
    }));

    map.on('load', () => {
        // Add new sources and layers

        const layers = map.getStyle().layers;

        let labelLayerId;
        for (let i = 0; i < layers.length; i++) {
            if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                labelLayerId = layers[i].id;
                break;
            }
        }

        map.addControl(new maplibregl.FullscreenControl({container: document.querySelector('body')}),  'top-right');
        map.addControl(
            new maplibregl.NavigationControl({
                visualizePitch: false,
                showZoom: true,
                showCompass: true
            }, 
            'top-right')
        );
        map.addControl(new maplibregl.ScaleControl({ unit: 'metric'}), 'top-right');
        map.addControl(new maplibreGLMeasures.default({}), 'top-right');

        map.addSource("terrain", {
            type: "raster-dem",
            url: `https://api.maptiler.com/tiles/terrain-rgb-v2/tiles.json?key={{TOKENS.MAPTILER_KEY}}`
        });
        
        map.setTerrain({
            source: "terrain"
        });

        map.addSource('track_{{track.id}}', {
            type: "geojson",
            data: "/tracks/as_geojson?id={{track.id}}"
        });

        map.addLayer({
            'id': 'track_{{track.id}}_layer',
            'type': 'line',
            'source': 'track_{{track.id}}',
            'layout': { 
                'line-join': "round", 
                'line-cap': "round"
            },
            'paint': {
                'line-color': '#FFFF50', 
                'line-width': 4
            },
        });

        // osm buildings

        map.addSource('openmaptiles', {
          url: `https://api.maptiler.com/tiles/v3/tiles.json?key={{TOKENS.MAPTILER_KEY}}`,
          type: 'vector',
        });

        map.addLayer(
          {
              'id': '3d-buildings',
              'source': 'openmaptiles',
              'source-layer': 'building',
              'type': 'fill-extrusion',
              'minzoom': 15,
              'filter': ['!=', ['get', 'hide_3d'], true],
              'paint': {
                  'fill-extrusion-color': [
                      'interpolate',
                      ['linear'],
                      ['get', 'render_height'], 0, 'lightgray', 200, 'royalblue', 400, 'lightblue'
                  ],
                  'fill-extrusion-height': [
                      'interpolate',
                      ['linear'],
                      ['zoom'],
                      15,
                      0,
                      16,
                      ['get', 'render_height']
                  ],
                  'fill-extrusion-base': ['case',
                      ['>=', ['get', 'zoom'], 16],
                      ['get', 'render_min_height'], 0
                  ]
              }
          },
          labelLayerId
      );

    })

    

    $.getJSON( "/tracks/get_track_info", { 'id': '{{track.id}}' } )
        .done(function( track ) {
            //console.log(track)
            //map.setZoom(15)
            map.setCenter({ lon: track.center.long, lat: track.center.lat })
            map.fitBounds( track.bounds )
            
        })
        .fail(function( jqxhr, textStatus, error ) {
            // show the error here, please
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
        });

</script>       

{%- endblock %}
