{% from "bootstrap5/utils.html" import render_messages %}
{%- extends "base.html" %}

{% block title %}{% include 'title.html' %}{%- endblock %}

{% block content %}

<div id="map"></div>
<script>

    const map = (window.map = new maplibregl.Map({
        container: 'map',
        zoom: 14,
        pitch: 45,
        bearing: 0,
        hash: true,
        style: 'https://api.maptiler.com/maps/hybrid/style.json?key={{TOKENS.MAPTILER_KEY}}',
        maxZoom: 18,
        maxPitch: 85
    }));

    map.on('load', () => {
        // Add new sources and layers
                        
        map.addControl(new maplibregl.FullscreenControl({container: document.querySelector('body')}),  'top-right');
        map.addControl(
            new maplibregl.NavigationControl({
                visualizePitch: false,
                showZoom: true,
                showCompass: true
            }, 
            'top-right')
        );
        map.addControl(new maplibregl.ScaleControl({ unit: 'metric'}), 'top-right');
        map.addControl(new maplibreGLMeasures.default({}), 'top-right');

        map.addSource("terrain", {
            type: "raster-dem",
            url: `https://api.maptiler.com/tiles/terrain-rgb-v2/tiles.json?key={{TOKENS.MAPTILER_KEY}}`
        });
        
        map.setTerrain({
            source: "terrain"
        });

        map.addSource('track_{{track.id}}', {
            type: "geojson",
            data: "/tracks/as_geojson?id={{track.id}}"
        });

        map.addLayer({
            'id': 'track_{{track.id}}_layer',
            'type': 'line',
            'source': 'track_{{track.id}}',
            'layout': { 
                'line-join': "round", 
                'line-cap': "round"
            },
            'paint': {
                'line-color': '#FFFF50', 
                'line-width': 4
            },
        });
    })

    

    $.getJSON( "/tracks/get_track_info", { 'id': '{{track.id}}' } )
        .done(function( track ) {
            //console.log(track)
            //map.setZoom(15)
            map.setCenter({ lon: track.center.long, lat: track.center.lat })
            map.fitBounds( track.bounds )
            
        })
        .fail(function( jqxhr, textStatus, error ) {
            // show the error here, please
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
        });

</script>       

{%- endblock %}
