.jumbotron {
  margin-top: 1em;  // add a little space
}

body { 

    margin: 0; 
    padding: 0; 
}

html, body, #map { 
    height: 100%; 
}


.track.date {
    font-size: small;
    font-style: italic;
    display: block;
}
.track.name {
    font-size: larger;
    font-weight: bold;
    display: block;
}
.track.name a  {
    color: black;
}

.track.name a:link {
    text-decoration:none;
}

.track.name a:visited {
	text-decoration:none;
}

.track.name a:hover {
	text-decoration:underline;
}


.track.length {
    display: block;
}
.track.score {
    font-size: large;
    font-weight: bold;
    display: block;
    color: rgb(179, 38, 38);
}

.track.description {
    font-size: small;
    font-style: italic;
}

.track.data {
    display: block;
    font-size: small;
    
}

.track.slope {
    font-size: small;
    vertical-align: middle;
}

.track.slope-image {
    display: inline;
    width: 1em;

}

.track.rating {
    display: block;
}
.track.map :hover {
    cursor: pointer;
}

.footer {
    font-size: smaller;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer a:hover {
	text-decoration:underline;
}



.editable_title :hover {
    cursor: pointer;

}

.editable_description {
    font-size: small;
    font-style: italic;
    
}


.editable_description :hover {
    cursor: pointer;

}


table.trackstats  {
    font-size: small;
    width: 100%;
}
.trackstats td.header   {
    font-weight: bold;
    
}

table.trackslope {
    font-size: small;
    width: 90%;
}

#trackstats_distance {
    width: 300px;
    height: 180px;
    display: inline-block;
}

#trackstats_time {
    width: 300px;
    height: 180px;
    display: inline-block;
}
#trackstats_uphill_range_distance {
    width: 300px;
    height: 180px;
    display: inline-block;
}

#trackstats_downhill_range_distance {
    width: 300px;
    height: 180px;
    display: inline-block;
}

/* #trackstats_uphill_range_time {
    width: 300px;
    height: 180px;
    display: inline-block;
}

#trackstats_downhill_range_time {
    width: 300px;
    height: 180px;
    display: inline-block;
} */

a.get-track-link:visited  {
    color: black;
    font-size: small;
    text-decoration: none;
}

 a.get-track-link:link  {
    color: black;
    font-size: small;
    text-decoration: none;
}

a.get-track-link:hover  {
	text-decoration:underline;
}

.track-map-2d {
    width: 100%; 
   
}

.map-container {
    height: 800px;
   
}

.map-heatmap {
    width: 100%;
    font-size: small;
    color: white;
}

.map-styles  {
    z-index: 1;
    position: absolute;
}

.map-mode  {
    z-index: 1;
    position: absolute;
    font-size: small;
    top: 40px;
    left: 10px;
}
.map-recenter  {
    z-index: 1;
    position: absolute;
    font-size: small;
    top: 80px;
    left: 10px;
}
.map-places  {
    z-index: 1;
    position: absolute;
    font-size: small;
    top: 120px;
    left: 10px;
}
.map-info {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.appstats_item_big {
    border: 2px red solid;


}

.appstats_item {
    width: 350px;
    height: 200px;
    display: inline-block;
}


.tool-item {
    display: block;
}

a.tool-item:visited {
    color: black;
    font-size: small;
    text-decoration: none;
}

a.tool-item:link  {
    color: black;
    font-size: small;
    text-decoration: none;
}

a.tool-item:hover  {
	text-decoration:underline;
}

#wait-spinning {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.45;
    background-color: white;
}

a.similar-track-link:visited  {
    color: black;
    font-size: small;
    text-decoration: none;
}

 a.similar-track-link:link  {
    color: black;
    font-size: small;
    text-decoration: none;
}

a.similar-track-link:hover  {
	text-decoration:underline;
}


a.pagination-link:visited  {
    color: darkgrey;
    font-size: 0.8em;
    text-decoration: none;
}

 a.pagination-link:link  {
    color: darkgrey;
    font-size: 0.8em;
    text-decoration: none;
}

a.pagination-link:hover  {
	text-decoration:underline;
}