.jumbotron {
  margin-top: 1em;  // add a little space
}

body { 

    margin: 0; 
    padding: 0; 
}

html, body, #map { 
    height: 100%; 
}


.track.date {
    font-size: small;
    font-style: italic;
    display: block;
}
.track.name {
    font-size: larger;
    font-weight: bold;
    display: block;
}
.track.name a {
    text-decoration: none;
    color: black;
}

.track.name a:hover {
	color:black;
	background-color:#FFFFFF;
	text-decoration:underline;
}


.track.length {
    display: block;
}
.track.score {
    font-size: large;
    font-weight: bold;
    display: block;
    color: rgb(179, 38, 38);
}

.track.description {
    font-size: small;
    font-style: italic;
}

.track.data {
    display: block;
    font-size: small;
    
}

.track.slope {
    font-size: small;
    vertical-align: middle;
}

.track.slope-image {
    display: inline;
    width: 1em;

}

.track.rating {
    display: block;
}
.track.map :hover {
    cursor: pointer;
}

.footer {
    font-size: smaller;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer a:hover {
	text-decoration:underline;
}



.editable_title :hover {
    cursor: pointer;

}

.editable_description {
    font-size: small;
    font-style: italic;
}


.editable_description :hover {
    cursor: pointer;

}

